[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-wtf = "*"
email-validator = "*"

[dev-packages]
