{% extends "layout.html" %}
{% block content %}    
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.first_name }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
                <p class="text-secondary">Card number: {{ card.number }}</p>
                <p class="text-secondary">Current assets: {{ balance }}</p>
            </div>
        </div>
    </div>
    
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="border-bottom mb-4">Add Assets</legend>
                <div class="form-group">
                    {{ form.amount.label(class="form-control-label") }}
                    {% if form.amount.errors %}
                        {{ form.amount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.amount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form> 
    </div>
{% endblock %}